*~
*#
*.root
*.pyc
*.pcm
*.d
*.so
*ACLiC*
*.swp

# ignore backup files from python 2to3
*.bak

# ignore .dat and .txt files in TBDataMonitoring used for testing scripts
TBDataMonitoring/*.dat
TBDataMonitoring/*.txt
